extends layout

block content
  h1= title

  if success
    h2 = 'Successful validation'
  else
    if errors
      ul
        each element in errors
          li this.msg
    form(action="/submit", method= 'post')
      input(name="email", type="text")
      input(name="password", type="password")
      
      button.btn.btn-primary(type='submit') Submit
